# YAML list of servers
HOSTS_INVENTORY=http://issues-inventory:5000/inventory
# issue read interval
SCHEDULE_INTERVAL=10s
# issue file location
ISSUE_FILE=/etc/issue
# redis server
REDIS=issues-redis
SSH_PRIVATE_KEY_FILE=/tmp/id_rsa
SSH_PUBLIC_KEY_FILE=/tmp/id_rsa.pub
# private and public keys
SSH_USER=issues
SSH_PORT=2222
DB_NAME=issues
DB_HOST=issues-postgres
DB_USER=issues
DB_PASSWORD=123456
POSTGRES_PASSWORD=123
